In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("data_science.csv")

C:\Users\Yash Gokakkar\AppData\Local\Temp\ipykernel_14812\932143898.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data_science.csv")

In [3]:
low_memory = False

In [4]:
df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1406400408545804288,1406400396264943616,2021-06-20 05:26:01 IST,2021-06-20,05:26:01,530,1113747629282930688,ballouxfrancois,Prof Francois Balloux,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1406390341176016897,1406390341176016897,2021-06-20 04:46:01 IST,2021-06-20,04:46:01,530,788898706586275840,tdatascience,Towards Data Science,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1406386311481774083,1406386311481774083,2021-06-20 04:30:00 IST,2021-06-20,04:30:00,530,19402238,sciencenews,Science News,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1406383545153638402,1406383545153638402,2021-06-20 04:19:01 IST,2021-06-20,04:19:01,530,788898706586275840,tdatascience,Towards Data Science,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1406358632648818689,1406358632648818689,2021-06-20 02:40:01 IST,2021-06-20,02:40:01,530,788898706586275840,tdatascience,Towards Data Science,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [5]:
df.shape

(241386, 36)

In [6]:
df.dtypes

id                   int64
conversation_id      int64
created_at          object
date                object
time                object
timezone             int64
user_id              int64
username            object
name                object
place               object
tweet               object
language            object
mentions            object
urls                object
photos              object
replies_count        int64
retweets_count       int64
likes_count          int64
hashtags            object
cashtags            object
link                object
retweet               bool
quote_url           object
video                int64
thumbnail           object
near               float64
geo                float64
source             float64
user_rt_id         float64
user_rt            float64
retweet_id         float64
reply_to            object
retweet_date       float64
translate          float64
trans_src          float64
trans_dest         float64
dtype: object

In [7]:
df.describe()

,id,conversation_id,timezone,user_id,replies_count,retweets_count,likes_count,video,near,geo,source,user_rt_id,user_rt,retweet_id,retweet_date,translate,trans_src,trans_dest
count,2.413860e+05,2.413860e+05,241386.0,2.413860e+05,241386.000000,241386.000000,241386.000000,241386.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,9.529281e+17,9.528276e+17,530.0,2.346056e+16,1.356678,11.569076,27.964269,0.457102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,3.104049e+17,3.103971e+17,0.0,1.442948e+17,34.724170,140.701341,751.545541,0.498157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,7.333963e+09,7.333963e+09,530.0,1.300000e+01,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,7.326473e+17,7.325960e+17,530.0,3.691232e+07,0.000000,1.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,9.975409e+17,9.974605e+17,530.0,3.547840e+08,0.000000,3.000000,4.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.216005e+18,1.215739e+18,530.0,5.345640e+08,0.000000,9.000000,12.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.406400e+18,1.406400e+18,530.0,1.378437e+18,5769.000000,24505.000000,150746.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241386 entries, 0 to 241385
Data columns (total 36 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               241386 non-null  int64
 1   conversation_id  241386 non-null  int64
 2   created_at       241386 non-null  object
 3   date             241386 non-null  object
 4   time             241386 non-null  object
 5   timezone         241386 non-null  int64
 6   user_id          241386 non-null  int64
 7   username         241386 non-null  object
 8   name             241386 non-null  object
 9   place            354 non-null     object
 10  tweet            241386 non-null  object
 11  language         241386 non-null  object
 12  mentions         241386 non-null  object
 13  urls             241386 non-null  object
 14  photos           241386 non-null  object
 15  replies_count    241386 non-null  int64
 16  retweets_count   241386 non-null  int64
 17  likes_count      241386 non-null  int64
 18  hashtags         241386 non-null  object
 19  cashtags         241386 non-null  object
 20  link             241386 non-null  object
 21  retweet          241386 non-null  bool
 22  quote_url        10321 non-null   object
 23  video            241386 non-null  int64
 24  thumbnail        110338 non-null  object
 25  near             0 non-null       float64
 26  geo              0 non-null       float64
 27  source           0 non-null       float64
 28  user_rt_id       0 non-null       float64
 29  user_rt          0 non-null       float64
 30  retweet_id       0 non-null       float64
 31  reply_to         241386 non-null  object
 32  retweet_date     0 non-null       float64
 33  translate        0 non-null       float64
 34  trans_src        0 non-null       float64
 35  trans_dest       0 non-null       float64
dtypes: bool(1), float64(10), int64(8), object(17)
memory usage: 64.7+ MB

In [9]:
df.isnull().sum()

id                      0
conversation_id         0
created_at              0
date                    0
time                    0
timezone                0
user_id                 0
username                0
name                    0
place              241032
tweet                   0
language                0
mentions                0
urls                    0
photos                  0
replies_count           0
retweets_count          0
likes_count             0
hashtags                0
cashtags                0
link                    0
retweet                 0
quote_url          231065
video                   0
thumbnail          131048
near               241386
geo                241386
source             241386
user_rt_id         241386
user_rt            241386
retweet_id         241386
reply_to                0
retweet_date       241386
translate          241386
trans_src          241386
trans_dest         241386
dtype: int64

In [10]:
df['tweet'][10]

'Trends in #AI for next 5 years, including revenue, applications, and talent (#INFOGRAPHIC) â€”â€”â€”â€”â€”â€”â€” #BigData #DataScience #MachineLearning #DeepLearning #ComputerVision #NLProc #DataLiteracy #AIStrategy #DigitalTransformation #EdgeAI #Edge #IoT #IIoT #IoTPL #IoTCommunity  https://t.co/mn7vFSgyyv'

In [11]:
pip install nltk

Requirement already satisfied: nltk in c:\users\yash gokakkar\appdata\local\programs\python\python311\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\yash gokakkar\appdata\local\programs\python\python311\lib\site-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in c:\users\yash gokakkar\appdata\local\programs\python\python311\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\yash gokakkar\appdata\local\programs\python\python311\lib\site-packages (from nltk) (2023.3.23)
Requirement already satisfied: tqdm in c:\users\yash gokakkar\appdata\local\programs\python\python311\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\yash gokakkar\appdata\local\programs\python\python311\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [12]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()

import re
import pandas as pd
import nltk
nltk.download('words')
words = set(nltk.corpus.words.words())

[nltk_data] Downloading package vader_lexicon to C:\Users\Yash
[nltk_data]     Gokakkar\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package words to C:\Users\Yash
[nltk_data]     Gokakkar\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

In [13]:
sentence = df['tweet'][0]
sid.polarity_scores(sentence)['compound']

-0.1783

In [14]:
def cleaner(tweet):
    tweet = re.sub("@[A-Za-z0-9]+","",tweet) #Remove @ sign
    tweet = re.sub(r"(?:\@|http?\://|https?\://|www)\S+", "", tweet) #Remove http links
    tweet = " ".join(tweet.split())
    tweet = tweet.replace("#", "").replace("_", " ") #Remove hashtag sign but keep the text
    tweet = " ".join(w for w in nltk.wordpunct_tokenize(tweet)
         if w.lower() in words or not w.isalpha())
    return tweet

In [15]:
df['tweet_clean'] = df['tweet'].apply(cleaner)

In [16]:
word_dict = {'manipulate':-1,'manipulative':-1,'jamescharlesiscancelled':-1,'jamescharlesisoverparty':-1,
            'pedophile':-1,'pedo':-1,'cancel':-1,'cancelled':-1,'cancel culture':0.4,'teamtati':-1,'teamjames':1,
            'teamjamescharles':1,'liar':-1}

import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()
sid.lexicon.update(word_dict)

list1 = []
for i in df['tweet_clean']:
    list1.append((sid.polarity_scores(str(i)))['compound'])

[nltk_data] Downloading package vader_lexicon to C:\Users\Yash
[nltk_data]     Gokakkar\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [17]:
df['sentiment'] = pd.Series(list1)

def sentiment_category(sentiment):
    label = ''
    if(sentiment>0):
        label = 'positive'
    elif(sentiment == 0):
        label = 'neutral'
    else:
        label = 'negative'
    return(label)

df['sentiment_category'] = df['sentiment'].apply(sentiment_category)

In [18]:
df = df[['tweet','date','id','sentiment','sentiment_category']]
df.head()

,tweet,date,id,sentiment,sentiment_category
0,What can be done? - Never blindly trust an ab...,2021-06-20,1406400408545804288,-0.4592,negative
1,"""We need a paradigm shift from model-centric t...",2021-06-20,1406390341176016897,-0.3535,negative
2,Using high-resolution satellite data and compu...,2021-06-20,1406386311481774083,0.0000,neutral
3,.@Stephenson_Data shares four steps that will ...,2021-06-20,1406383545153638402,0.6249,positive
4,"""Curricula is inherently brittle in a world wh...",2021-06-20,1406358632648818689,0.2960,positive

In [19]:
neg = df[df['sentiment_category']=='negative']
neg = neg.groupby(['date'],as_index=False).count()

pos = df[df['sentiment_category']=='positive']
pos = pos.groupby(['date'],as_index=False).count()

pos = pos[['date','id']]
neg = neg[['date','id']]

In [20]:
pip install plotly.graph_objs

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement plotly.graph_objs (from versions: none)
ERROR: No matching distribution found for plotly.graph_objs

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
print(df[df['sentiment_category']=='positive'])

                                                    tweet        date
3       .@Stephenson_Data shares four steps that will ...  2021-06-20  \
4       "Curricula is inherently brittle in a world wh...  2021-06-20
6       @LinkLabsInc @IoTchannel Wow! Wonderful!! Cong...  2021-06-20
9       Demystifying #AI with 10 top applications:  ht...  2021-06-20
10      Trends in #AI for next 5 years, including reve...  2021-06-20
...                                                   ...         ...
241370  Four short links: 15 January 2010 - Best Scien...  2010-01-15
241375  Anti-science disinformers to media:  Please ma...  2010-01-13
241377  @Sheril_ I'd love to see some empirical data o...  2010-01-12
241380  Top nations in computer science:  http://bit.l...  2010-01-10
241382  RT @filiber: Have a Computer Science backgroun...  2010-01-06

                         id  sentiment sentiment_category
3       1406383545153638402     0.6249           positive
4       1406358632648818689     0.2960           positive
6       1406344023254634499     0.9036           positive
9       1406334476905500679     0.2023           positive
10      1406333930551324673     0.4215           positive
...                     ...        ...                ...
241370           7794185676     0.6369           positive
241375           7707597565     0.4215           positive
241377           7671245065     0.6369           positive
241380           7590323198     0.3182           positive
241382           7445162404     0.6767           positive

[113285 rows x 5 columns]

In [22]:
print(df[df['sentiment_category']=='negative'])

                                                    tweet        date
0       What can be done?  - Never blindly trust an ab...  2021-06-20  \
1       "We need a paradigm shift from model-centric t...  2021-06-20
5       Many common colour maps distort data through u...  2021-06-20
19      ApolloScape (worldâ€™s largest open-source datas...  2021-06-20
36      Disruption defines our world, and the latest h...  2021-06-19
...                                                   ...         ...
241355  @DanaKCTV5 We think Phil now studies weather d...  2010-02-02
241366  @GrahamHill And to be really consequent: not o...  2010-01-21
241371  @andrewbarnett you could, note that iphones mo...  2010-01-15
241373  CARPE DIEM BLOG: "Structural Barriers" Discour...  2010-01-14
241384  All in the....data RT @noahWG Dr. Petra provid...  2010-01-05

                         id  sentiment sentiment_category
0       1406400408545804288    -0.4592           negative
1       1406390341176016897    -0.3535           negative
5       1406350577756524555    -0.0772           negative
19      1406332752815869955    -0.4215           negative
36      1406312471531601920    -0.7650           negative
...                     ...        ...                ...
241355           8540493580    -0.4019           negative
241366           8020770355    -0.3612           negative
241371           7764817738    -0.5043           negative
241373           7748404739    -0.4215           negative
241384           7376226272    -0.2960           negative

[23782 rows x 5 columns]